<div class="read-more">
  {% for post in site.related_posts limit:1 %}
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">Leer Más</a>
    </div><!-- /.read-more-header -->
    <div class="read-more-content">
      <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
      {{ post.excerpt }}
    </div><!-- /.read-more-content -->
  {% endfor %}
  <div class="read-more-list">
    {% for post in site.related_posts limit:2 offset:1 %}
      <div class="list-item">
        <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
        <span>Publicado el {% assign m = page.date | date: "%-m" %}{{ post.date | date: "%-d" }} de {% case m %} {% when '1' %}Enero {% when '2' %}Febrero {% when '3' %}Marzo {% when '4' %}Abril {% when '5' %}Mayo {% when '6' %}Junio {% when '7' %}Julio {% when '8' %}Agosto {% when '9' %}Septiembre {% when '10' %}Octubre {% when '11' %}Noviembre {% when '12' %}Diciembre {% endcase %} del {{ page.date | date: "%Y" }}</span>
      </div><!-- /.list-item -->
    {% endfor %}
  </div><!-- /.read-more-list -->
</div><!-- /.read-more -->